Repository wnsxor1993/issue-tracker, pull requests merged in 2022-06, with the labels that each got.

#2 [iOS] feature: lint적용
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: iOS

#8 [iOS] NetworkManager 구현 (미완성)
  iOS/.gitignore
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/ClientKey.plist
  iOS/IssueTracker/IssueTracker/Network/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Network/HTTPMethod.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkService.swift
  iOS/IssueTracker/IssueTracker/Network/OauthNetworkManager.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: iOS, feat

#9 [iOS] Login 화면 구현 (미완성)
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/LoginInputView.swift
  iOS/IssueTracker/IssueTracker/UIView+.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: iOS, feat

#15 [iOS] Apple Login 구현 (초기 완성)
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/LoginScene/View/OAuthButtonDelegate.swift
  iOS/IssueTracker/IssueTracker/LoginScene/View/OAuthLoginView.swift
Labels: iOS, feat

#29 [iOS] 네트워크 스트럭쳐 리팩토링
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extension/Bundle+.swift
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Manager/AppleManager.swift
  iOS/IssueTracker/IssueTracker/Manager/GitHubManager.swift
  iOS/IssueTracker/IssueTracker/Manager/OAuthManageable.swift
  iOS/IssueTracker/IssueTracker/Network/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Network/EndPoint/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Network/EndPoint/Protocol/EndPointable.swift
  iOS/IssueTracker/IssueTracker/Network/EndPoint/Protocol/HTTPPackageable.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkError.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkService.swift
  iOS/IssueTracker/IssueTracker/Network/OauthNetworkManager.swift
  iOS/IssueTracker/IssueTracker/Network/Service/NetworkService.swift
  iOS/IssueTracker/IssueTracker/Network/Service/Protocol/NetworkServiceable.swift
  iOS/IssueTracker/IssueTracker/Network/URLComponent/GitURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/Network/URLComponent/Protocol/Authenticable.swift
  iOS/IssueTracker/IssueTracker/Network/URLComponent/Protocol/URLConfigurable.swift
Labels: iOS, refactor

#32 [iOS] 두번째 피드백 적용
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extension/Bundle+.swift
  iOS/IssueTracker/IssueTracker/LoginScene/EnumTypes/OAuthButtonType.swift
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/LoginScene/View/LoginInputView.swift
  iOS/IssueTracker/IssueTracker/LoginScene/View/OAuthButtonDelegate.swift
  iOS/IssueTracker/IssueTracker/LoginScene/View/OAuthLoginButton.swift
  iOS/IssueTracker/IssueTracker/LoginScene/View/OAuthLoginView.swift
  iOS/IssueTracker/IssueTracker/Manager/AppleManager.swift
  iOS/IssueTracker/IssueTracker/Manager/GitHubManager.swift
  iOS/IssueTracker/IssueTracker/Manager/OAuthManageable.swift
  iOS/IssueTracker/IssueTracker/Network/EnumTypes/HTTPMethod.swift
  iOS/IssueTracker/IssueTracker/Network/EnumTypes/NetworkError.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
Labels: iOS, refactor

#36 [iOS] OAuth 연결에 따른 VC 흐름 수정
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Manager/AppleManager.swift
  iOS/IssueTracker/IssueTracker/Manager/GitHubManager.swift
  iOS/IssueTracker/IssueTracker/Manager/OAuthManageable.swift
Labels: iOS, refactor

#35 [iOS] feat: tabBarController 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/HomeScene/HomeViewController.swift
  iOS/IssueTracker/IssueTracker/TabBar/TabBarViewController.swift
Labels: iOS, refactor

#52 [iOS] Home 화면 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extension/UIColor+.swift
  iOS/IssueTracker/IssueTracker/Extension/UIFont+.swift
  iOS/IssueTracker/IssueTracker/HomeScene/BadgeLabel.swift
  iOS/IssueTracker/IssueTracker/HomeScene/CollectionViewDataSource.swift
  iOS/IssueTracker/IssueTracker/HomeScene/HomeViewController.swift
  iOS/IssueTracker/IssueTracker/HomeScene/IssuseCardCell.swift
  iOS/IssueTracker/IssueTracker/HomeScene/NavigationButtonItem.swift
  iOS/IssueTracker/IssueTracker/HomeScene/SelectionLabel.swift
  iOS/IssueTracker/IssueTracker/IssueCard.swift
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Manager/GitHubManager.swift
  iOS/IssueTracker/IssueTracker/TabBar/TabBarViewController.swift
Labels: iOS, feat

#50 Ios/feat issue add scene
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/IssueAddScene/CommentView.swift
  iOS/IssueTracker/IssueTracker/IssueAddScene/DividedLineView.swift
  iOS/IssueTracker/IssueTracker/IssueAddScene/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/IssueAddScene/ListCell.swift
  iOS/IssueTracker/IssueTracker/IssueAddScene/ListView.swift
Labels: iOS, feat

#60 [iOS] IssueAddButton 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Scene/HomeScene/HomeViewController.swift
  iOS/IssueTracker/IssueTracker/Scene/HomeScene/TableViewDataSource.swift
  iOS/IssueTracker/IssueTracker/Scene/HomeScene/ViewComponent/BadgeLabel.swift
  iOS/IssueTracker/IssueTracker/Scene/HomeScene/ViewComponent/IssueAddButton.swift
  iOS/IssueTracker/IssueTracker/Scene/HomeScene/ViewComponent/SelectionLabel.swift
Labels: iOS, feat

#59 [iOS] IssueAdd 화면 리팩토링
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/NewColorSet/IssueAddText.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Extension/UIColor+.swift
  iOS/IssueTracker/IssueTracker/Model/AdditionalInfo.swift
  iOS/IssueTracker/IssueTracker/Scene/IssueAddScene/CommentView.swift
  iOS/IssueTracker/IssueTracker/Scene/IssueAddScene/DividedLineView.swift
  iOS/IssueTracker/IssueTracker/Scene/IssueAddScene/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/Scene/IssueAddScene/ListCell.swift
  iOS/IssueTracker/IssueTracker/Scene/IssueAddScene/ListView.swift
  iOS/IssueTracker/IssueTracker/Scene/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Scene/LoginScene/View/LoginInputView.swift
  iOS/IssueTracker/IssueTracker/Scene/LoginScene/View/OAuthLoginButton.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
Labels: iOS, refactor

#66 [iOS] 3차 PR 리뷰 리팩토링 - IssueAddScene
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/IssueAddListEntity.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/HomeViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/IssueAddScene/View/CommentContainerView.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/IssueAddScene/View/CommentView.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/IssueAddScene/View/Component/CommentTitleContainerView.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/IssueAddScene/View/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/IssueAddScene/View/ListContainerView.swift
Labels: iOS, refactor

#68 [iOS] 세번째 PR 피드백 적용
  iOS/IssueTracker/IssueTracker/DataLayer/DTO/IssueCardDTO.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/OAuthManager/AppleManager.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/OAuthManager/GitHubManager.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/OAuthManager/OAuthManageable.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/Component/IssueAddButton.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/Component/SelectionLabel.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/HomeViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/IssuseCardCell.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/TableViewDataSource.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/LoginViewController.swift
Labels: iOS, refactor

#80 [iOS] MVVM 설계 및 ViewModel, Observable 초기 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/GrantResource.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/UserInfo.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/DefaultRequestGrantCodeUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/RequestAppleGrantCodeUseCase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/RequestGithubGrantCodeUseCase.swift
  iOS/IssueTracker/IssueTracker/Helper/Observable.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/ViewModel/LoginViewModel.swift
Labels: iOS, feat

#98 [iOS] LoginScene 구조 MVVM 패턴으로 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/DataLayer/Network/EndPoint/EndPoint.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/EndPoint/EndPointable.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/EnumTypes/NetworkError.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/GitURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/Protocol/URLConfigurable.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/UserInfoURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Repository/DefaultUserInfoRepository/DefaultUserInfoRepository.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Repository/DefaultUserInfoRepository/UserInfoRepository.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/GrantResource.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/UserInfo.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/AppleAuthorizationUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/DefaultLoginUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/DefaultRequestGrantCodeUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/GithubAuthorizationUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/RequestGithubGrantCodeUseCase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestUserInfo/DefaultRequestUserInfoUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestUserInfo/RequestUserInfoUsecase.swift
  iOS/IssueTracker/IssueTracker/Helper/Decoder.swift
  iOS/IssueTracker/IssueTracker/Helper/Encoder.swift
  iOS/IssueTracker/IssueTracker/NotificationCenter.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/IssueAddScene/View/IssueAddViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/EnumTypes/OAuth.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/Component/OAuthLoginButton.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/OAuthButtonDelegate.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/ViewModel/LoginViewModel.swift
Labels: iOS, feat

#100 [iOS] OAuth 흐름 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/DataLayer/Network/EndPoint/EndPoint.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/Service/NetworkService.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/Service/Protocol/NetworkServiceable.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/GitURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/Protocol/Authenticable.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/TokenURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Repository/DefaultUserInfoRepository/DefaultUserInfoRepository.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Repository/DefaultUserInfoRepository/UserInfoRepository.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/GrantResource.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/TokenInfo.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/UserInfo.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/AppleAuthorizationUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestGrantCode/GithubAuthorizationUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestUserInfo/DefaultRequestUserInfoUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefaultRequestUserInfo/RequestUserInfoUsecase.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/ViewModel/LoginViewModel.swift
Labels: iOS, refactor

#108 [iOS] HomeViewModel 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/DataLayer/DTO/IssueCard.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/EndPoint/EndPoint.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/EndPoint/EndPointable.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/FetchOpenIssueListURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/GitURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/Protocol/URLConfigurable.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Network/URLComponent/TokenURLConfiguration.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Repository/DefaultIssueCardRepository/DefaultIssueCardRepository.swift
  iOS/IssueTracker/IssueTracker/DataLayer/Repository/DefaultIssueCardRepository/FetchIssueCardRepository.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Entity/IssueCardEntity.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefatultIssueCard/FetchIssueCardUsecase.swift
  iOS/IssueTracker/IssueTracker/DomainLayer/Usecase/DefatultIssueCard/FetchOpenIssueCardUsecase.swift
  iOS/IssueTracker/IssueTracker/Helper/Observable.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/HomeViewController.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/IssuseCardCell.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/View/TableViewDataSource.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/HomeScene/ViewModel/HomeViewModel.swift
  iOS/IssueTracker/IssueTracker/PresentationLayer/LoginScene/View/LoginViewController.swift
Labels: iOS, feat
